<template>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
           <th v-for="field in fields">
                {{ field.name }}
            </th>
        </tr>
        </thead>
        <tbody>
         <tr v-for="row in rows">
              <template v-for="field in fields">
                  <td>{{ row[field.field_name] }}</td>
              </template>
         </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
          rows: {
              type: Array,
              required: true
          },
          fields: {
              type: Array,
              required: true
          },
      },
    }
</script>