<template>
    <tr>
        <td>
          <p v-html="row.image_url"></p>
      </td>
      <td>{{ row.file_name }} ({{ row.id }})</td>
      <td v-for="heading in this.headers">
          {{ row.custom_properties[heading] }}
      </td>
      <td>
          <a class="btn btn-default btn-edit" href="#" @click="editMediaMeta(row)"></a>          
          <button class="btn btn-danger btn-delete" type="submit" name="delete" @click="deleteMedia(row)"></button>
      </td>
      <td>
          <button class="btn btn-default" type="submit"><i class="fa fa-arrow-up" aria-hidden="true" @click="sortUp(row)"></i></button>
          <button class="btn btn-default" type="submit"><i class="fa fa-arrow-down" aria-hidden="true" @click="sortDown(row)"></i></button>
      </td>
  </tr>
</template>

<script>
import { eventBus } from '../app';

export default {
    props: ['row', 'headers'],
    data() {
        return {            
        }
    },
    mounted() {
        
    },
    methods: {
        deleteMedia(row) {
            $('#modal-delete').modal('show');
            $(document).off('click', '#modal-delete .js-ok');
            $(document).one('click', '#modal-delete .js-ok', (event) => {
              event.stopPropagation();
              event.preventDefault();
              axios.delete(row.url_media_delete)
                .then(() => {
                    $('#modal-delete').modal('hide');
                    eventBus.$emit('refresh-media');                              
                });
          });
        },
        editMediaMeta(row) {
            axios.get(row.url_media_edit)
            .then(function (response) {
                var $obj = $('#modal');
                $('#modal').find('.modal-body').html(response.data);
            //console.log(response.data);
            $obj.modal('toggle');
        }).catch(function (error) {
            console.log(error);
        });
    },
    sortUp(row) {
      $.post(row.url_sort_up).done(() => {
        eventBus.$emit('refresh-media');                                      
    });
  },
  sortDown(row) {
      $.post(row.url_sort_down).done(() => {
        eventBus.$emit('refresh-media');                              
    });
  }
}
}
</script>