<template>
  <div>

    <form class="form-inline">
      <div class="row">
        <div class="form-group col-md-10 text-right">
          <label for="search">Search:</label>
          <input type="text" class="form-control" v-model="file_name" placeholder="search..." />
        </div>
        <div class="form-group col-md-2 text-right">
          <label for="view">View</label>
          <select class="form-control" v-model="view_type">
            <option value="list">list</option>
            <option value="grid">grid</option>
          </select>
        </div>
      </div>
      
    </form>

    <table border="1" class="table table-striped table-bordered table-media" v-if="view_type == 'list'">
      <tbody>
        <tr>       
          <th>Media</th>
          <th>Filename</th>   
          <th v-for="(heading, index) in this.headers">{{ heading }}</th>
          <th></th>
          <th></th>
        </tr>
        <template v-for="image in filteredMedia">
          <dropzoneRow :row="image" :headers="headers"></dropzoneRow>
        </template>
      </tbody>
    </table>

    <div class="row" v-if="view_type == 'grid'">
      <template v-for="row in filteredMedia">
        <div class="col-md-2">
          <div class="thumbnail">
            <p v-html="row.image_url">ee</p>

            <div class="actions">
              <a class="btn btn-default btn-edit" href="#" @click="editMediaMeta(row)"></a>          
              <button class="btn btn-danger btn-delete" type="submit" name="delete" @click="deleteMedia(row)"></button>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { eventBus } from '../app';
import DropzoneRow from './dropzoneRow';

export default {
  components: {
    DropzoneRow
  },
  props: {
    href: {
      type: String,
      required: true,            
    },
    headers: {
      type: Array
    }
  },
  data() {
    return {
      view_type: 'list',
      file_name: '',
      token: $('meta[name="csrf-token"]').attr('content'),
      media: [
      ],
    }
  },
  mounted() {
      // $.ajaxSetup({
      //       headers:
      //       { 'X-CSRF-TOKEN': this.token }
      //   });
    },
    created() {
      this.getMedia();
      eventBus.$on('dropzone-complete', (file) => {
        this.getMedia();
      });

      eventBus.$on('refresh-media', () => {
        this.getMedia();
      });
    },
    computed: {
      filteredMedia() {
        return this.media.filter((val) => {
          //console.log(val.file_name);
          return val.file_name.indexOf(this.file_name) >= 0;
        });
      }
    },
    methods: {
      getMedia() {        
        $.get(this.href, (response) => {
          this.media = response.images;
        });
      }    
    }
  }
  </script>

  <style scoped>
  </style>