<template>
    <div>
         <div :id="id" class="dropzone">
        </div>
    </div>
</template>

<script>
//https://github.com/rowanwins/vue-dropzone/blob/master/src/components/vue-dropzone.vue
import Dropzone from 'dropzone';
import { eventBus } from '../app';

export default {
    data() {
        return {
            token: $('meta[name="csrf-token"]').attr('content')
        }
    },
    props: {
        href: {
            type: String,
            required: true,            
        },
        id: {
            type: String,
            required: true,            
        }
    },
    methods: {
    },
    mounted() {
        this.drop = new Dropzone('#'+this.id, {
          url: this.href,
              headers: {
                  'X-CSRF-TOKEN': this.token
              }
          });

         this.drop.on('complete', (file) => {
            console.log('dropzone-complete');
            eventBus.$emit('dropzone-complete', file);
            this.drop.removeFile(file);
        });
    },
    created() {
    }
}
</script>

<style scoped>

</style>