<template>
    <div :class="modal_class" :id="id" tabindex="-1" role="dialog">  
        VANAF HIER
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" v-if="hasHeader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-if="allow_close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <slot></slot>
        </div>
    </div>
    TOT HIER
</div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                required: true
            },
            title: {
              type: String,
            },
            animation: {
              type: String,
              default: 'fade'
            },
            allow_close: {
                type: Boolean,
                default:true,
            },
        },
        mounted() {
            console.log('Component mounted.')
            var footer = '';
            
        },
        methods: {
            // submitForm(event) {
            //     console.log($('meta[name=_token]').attr('content'));
            //     var form = event.target.closest('form');
            //     var $form = $(form);
            //     var url = $form.attr('action');
            //     var method = $form.attr('method').toUpperCase();
            //     var formdata = $form.serialize();

            //     //console.log('method='+method);
            //     console.log('formdata=');
            //     console.log(formdata);
            //     axios({
            //         method:method,
            //         url: url,
            //         data: formdata,
            //         dataType:'json'
            //     }).then(function(response) {
            //         console.log(response);
            //     });
            //     console.log(url);
            //     console.log('submit form');
            // }
        },
        computed: {
            modal_class() {
                return 'modal ' + this.animation;
            },
            hasHeader() {
                if (this.allow_close) {
                    return true;
                }

                if (this.title) {
                    if (this.title.length  >0) {
                        return true;
                    }
                }

                return false;
            },
            hasFooterSlot() {
                console.log(this.$slots);
                if (this.$slots['footer']) {
                    //footer = this.$slots['footer'][0].text;
                    return true;
                } else {
                }
                return false;
            }
        }
    }
</script>