.inputtext,
.textarea,
.select {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    background-color:#fff;
    border:solid 1px #eee;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    width:100%;
}

.textarea {
    height: 200px;
    padding-top: 10px;
}

.inputtext,
.select,
.textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form label.checkbox {
  display: block;
  margin-bottom: 3px;
}

.form label.checkbox .checkbox {
  margin-right:5px;
}


.form label.label {
    color:#1d1d1b;
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.form label.label em {
    padding-left: 5px;
}

.formrow {
    margin-bottom: 15px;
    overflow: hidden;
}

.formrow .error,
.formrow.error label.label {
    color:red;
}

.formrow .error {
    font-style:italic;
    margin-top: 10px;
}

.formrow.error .inputtext,
.formrow.error .textarea,
.formrow.error .select {
    border:solid 1px red;
}

/* 
vertifal form fields: 
<div class="formrow"></div>
----
horizontal form fields:
<div class="formrow formrow-inline"></div>
*/

.formrow-inline {
    display: table;
    width:100%;
}

.formrow-inline label.label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

    display: table-cell;

    /*float:left;
    width:115px;*/
    padding-right: 20px;
    padding-top: 10px;
    vertical-align: top;
}

/*@media only screen and (max-width: 767px) {
    .formrow-inline {
        display: block;
    }

    .formrow-inline label.label {
        padding:0px;
        margin:0px;
        margin-bottom: 5px;
        display: block;
        width:100% !important;
    }

    .formrow-inline.btn-container {
        margin-left:0px !important;
    }
}*/