/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    /*font-size: 1em;*/
    font-size:14px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
    text-decoration: none;
    color:#2185d0;
}
form {
    margin:0px;
}
img {
    max-width: 100% !important;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
    list-style:none;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
    margin:0px;
    padding:0px;
    line-height: 1;
}


h1 {
    font-size:24px;
}

h2 {
    font-size:18px;
}

h3 {
    font-size:16px;
}

body {
    font-family: 'Lato', sans-serif;
    color:#666;
}

#nav {
    background-color: #1b1c1d;
    color: #fff;
    width: 250px;
    height: 100%;
    float: left;
    padding:10px;
}

#nav ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

#nav a {
    display: block;
    padding:10px 5px;
    text-decoration: none;
    color: #fff;
}

#content {
    margin-left: 250px;
    border:solid 1px red;
    padding:20px;
}

#page-title {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 12px;
    padding-bottom:20px;
    margin-bottom:30px;
    display:block;
    overflow:hidden;
}

#page-title .title {
    float:left;
}

#page-title h1 {
    color:#1b1c1d;
    margin-bottom: 10px;
}
#page-title h2 {
    font-size:15px;
    font-style: italic;
}

#page-title .actions
{
    float:right;
    border:solid 1px red;
}

.table {
    width: 100%;
    border-collapse:collapse;

    background: #fff;
    margin: 1em 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    text-align: left;
    color: rgba(0,0,0,.87);
}

.table th {
    background: #f9fafb;
    color: rgba(0,0,0,.87);
    border-bottom: 1px solid rgba(34,36,38,.1);
}

.table th,
.table td {
    padding: 10px 6px;
    vertical-align: middle;
}

.table td {
    border: 1px solid rgba(34,36,38,.15);
}

.btn {
    border:0px;
    display: inline-block;
    /*height: 30px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;    
    padding-right: 20px;    
    text-decoration: none;
    background-color: #e1e1e1;
    transition: background-color .5s ease;
}

.btn.edit:before,
.btn.delete:before {
    display: inline-block;
    font-family: 'FontAwesome';
}

.btn.edit:before {
    content:'\f040';
}

.btn.delete:before {
    content:'\f1f8';
}

button.btn {
    /*position: relative;
    top:-1px;*/
}

.table th.actions,
.table td.actions {
    text-align: right;
}

.table td.actions .btn {
    font-size:14px;
    padding-left: 10px;
    padding-right: 10px;
}

.table td.actions form {
    display: inline;
}
/* tabs */
div.tabs {
 overflow:hidden;
}

.tabs {
    list-style:none;
    border-bottom:solid 1px #eee;
    overflow:hidden;
    margin-bottom:10px;
}

.tabs > li {
    list-style-type:none;
    list-style-position:outside;
    float:left;
    position:relative;
    margin-bottom:-1px;
}

.tabs > li > a {
    display:block;
    line-height:25px;
    border:solid 1px transparent;
    /*border-radius: 4px 4px 0 0;*/
    padding:10px 15px; 
    margin-right:2px;
}

.tabs > li a:hover {
    background-color:#eee;
}

.tabs .active > a, .tabs .active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #eee #eee transparent;
    border-style: solid;
    border-width: 1px;
    /*color: #808080;*/
    color:inherit;
    cursor: default;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
