
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


//dropzone
@import "../../../node_modules/dropzone/dist/basic.css";
@import "../../../node_modules/dropzone/dist/dropzone.css";

//jquery-ui
@import "../../../node_modules/jquery-ui/themes/base/all.css";

//select2
@import "../../../node_modules/select2/dist/css/select2.css";

.menuitem_disabled {
    font-style:italic;
    color:red;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    margin:0px;
    padding:0px;
}

// h1 {
//     font-size:30px;
// }

// h2 {
//     font-size:24px;
// }

// h3 {
//     font-size:16px;
// }

// h4 {
//     font-size:14px;
// }

.page-header h1 {
    font-size:30px;
    font-style:italic;
}

.page-header h2 {
   font-size:24px;
}

.page-header .btn-add .fa,
.page-header .btn-filter .fa {
    padding-right:5px;
}

.table th.direction {
    width:100px;
    background-color:red;
}

.table .actions {
    text-align:right;
}

.table .actions .btn, 
.table .actions form {
    display:inline-block;
}

.btn-back:before {
    font-family:'FontAwesome';
    content:'\f060';
    padding-right:5px;
}

.btn-delete:before {
    font-family:'FontAwesome';
    content:'\f1f8';
}

.btn-edit:before {
    font-family:'FontAwesome';
    content:'\f040';
}

.content-index-filters {

}

.content-index-filters > div {
    border-top:solid 1px #eee;
    border-bottom:solid 1px #eee;
    padding-top:5px;
    padding-bottom:5px;
}

.row {
    margin-bottom:10px;
}

.filterlist {
    list-style:none;
    margin:0px;
    padding:0px;
}

.filterlist li {
    float:left;
}

.filterlist a {
    padding:5px 10px;
    display:inline-block;
    text-decoration:none;
}

.filterlist a i {
    border-radius:40px;
    height: 15px;
    width:15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    background-color:#3097D1;
    color:#fff;
}

.table-media .img-thumbnail {
    max-width:200px;
}

.dropzone {
    margin-bottom: 20px;
}

#specslist,
#specslist ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

#specslist ul {
    margin-left: 20px;
}

#specslist .specification {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#specslist .specification:before {
    font-family: 'FontAwesome';
    content:'\f0da';
    padding-right: 10px;
}

#specslist .spec-item label {
    font-weight: normal;
}

#test {
    background-color:#eee;
    width:100%;
    height:100px;
}